name: Publish Python Package to PyPI

on:
  push:
    tags:
      - 'v*'  # Matches tags like v1.0, v2.1.3, etc.

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install --user -r requirements.txt
        pip3 install --user -r requirements_dev.txt

    - name: Update version in pyproject.toml
      run: |
        VERSION=${GITHUB_REF#refs/tags/v}
        sed -i "s/^version = \".*\"/version = \"$VERSION\"/" pyproject.toml

    - name: Build package
      run: |
        python setup.py sdist bdist_wheel

    - name: Publish package to Test PyPI
      env:
        TWINE_REPOSITORY: testpypi
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TEST_TOKEN }}
      run: |
        twine upload --non-interactive --skip-existing dist/*
